@tailwind base;
@tailwind components;
@tailwind utilities;




.dashnav{
    background-color: #081b29;
    font-size: medium;
    font-weight: 600;
    color: white;
    margin: 5px 0;
    border: 1px solid white;
    
}
.dashnav:hover{
    background-color: #6387a0;
}

@media (max-width: 576px) {
    .main-logo{
        display: none;
    }
}
@media (min-width: 576px) {
    .second-logo{
        display: none;
    }
}